<!doctype html>
<html>
	<head>
	</head>

	<!-- Commentaire HTML -->
	<body>
		<!-- Chaque page doit avoir un H1 qui est le titre principal de la page -->
		<h1>Cours de JS 2020-2021</h1>

		<section id="news">
			<h2 id="titleNews">News</h2>
			<article id="001">
				<h3 class="title">News 1</h3>
				<p>déscription 1</p>
				<button id="monBut1">View detail</button>
			</article>

			<article id="002">
				<h3 class="title">News 2</h3>
				<p>déscription 2</p>
				<button id="monBut2">View detail</button>
			</article>

			<article id="003">
				<h3 class="title">News 3</h3>
				<p>déscription 3</p>
				<button id="monBut3">View detail</button>
			</article>
		</section>

		<button id="btnClic" class="btn">Mon super bouton</button>

		<form id="addNewsForm">
			Nom de la news : <input name="titleToAdd" type="text" />

			<input type="submit" name="addNewsBtn" />
		</form>
	</body>

	<!-- Le code JS doit se trouver après la clôture de la balise body. -->
	<script>
		/*
		let h1 = document.querySelector('h1');
		console.log(h1);
		console.log(h1.innerHTML);
		h1.innerHTML = '<p>Cours de JS 2019-2020</p>';
		//h1.innerText = '<p>Cours de JS 2019-2020</p>';
		h1.className = 'text-red';

		let titleNews = document.querySelector('#titleNews');
		console.log(titleNews);

		let articles = document.querySelectorAll('article');
		console.log(articles);

		let titles = document.querySelectorAll('.title');
		console.log(titles);
		titles.forEach(function(element) {			
			console.log(element);
		});

		let button = document.querySelector('#btnClic');
		//button.onclick = fonctionClick;
		//button.addEventListener('click', fonctionClick);
		button.onclick = function(){
			console.log('click');
		}

		let buttons = document.querySelectorAll('button');
		buttons.forEach(function(button) {			
			assignEventBtnlick(button);
		});

		createNews();
		createNews();

		function assignEventBtnlick(button){
			button.onclick = fonctionClick;			
		}

		function createNews(){
			let newArticle = document.createElement('article');
			let h3 = document.createElement('h3');
			let news = document.querySelector('#news');
			h3.innerHTML = 'Mon super article';
			newArticle.append(h3);
			news.append(newArticle);
			//news.appendChild(newArticle);			
		}
		*/
	</script>
	<script type="text/javascript" src="../public/js/var.js"></script>
	<script type="text/javascript" src="../public/js/article.js"></script>
	<script type="text/javascript">
		let button1 = document.querySelector('#monBut1');
		button1.onclick = function(){
			let el = document.getElementById('001');
			console.log(el.children[1].innerHTML);
		};

		let button2 = document.querySelector('#monBut2');
		button2.onclick = function(){
			let el = document.getElementById('002');
			console.log(el.children[1].innerHTML);
		};

		let button3 = document.querySelector('#monBut3');
		button3.onclick = function(){
			let el = document.getElementById('003');
			console.log(el.children[1].innerHTML);
		};
		console.log(ALLNEWSJSON);
		let art = [3]
		for(let i = 0; i<=2; i++){
			art[i] = new Article(JSON.parse(ALLNEWSJSON));
		}
	</script>
</html>