<!doctype html>
<html>
	<head>
		<title>TP1</title>
		
	</head>
	<body>
		<h1>Cours de JS 2020-2021</h1>

		<section id="news">
			<h2 id="titleNews">News</h2>
			<article>
				<h3 class="title">News 1</h3>
			</article>

			<article>
				<h3 class="title">News 2</h3>
			</article>

			<article>
				<h3 class="title">News 3</h3>
			</article>
		</section>

		<form id="addNewsForm">
			Nom de la news : <input name="titleToAdd" type="text">

			<input type="submit" name="addNewsBtn" id="submit">
			

	</body>
	<script type="text/javascript" src="../public/js/color.js"></script>
	<script type="text/javascript" src="../public/js/exo.js"></script>
</html>